body {
  background: #bfe3ff;
  color: #2c4770;
  margin: 0;
  padding: 20px;
}

header{
  background: #bfe3ff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
main{
  margin-top: 115px;
  justify-items: center;
  align-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.3rem;
  text-shadow: 0 0 15px #0d8dd2;
}

.container1, .container2, .container3, .container4, .container5, .container6, .container7{
  width: 100%;
  margin: auto;
  display: flex;
}

.card {
  background-color: #a7ddff;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 18px;
  margin: 18px;
  border-right: 5px solid #4171b3a0;
  border-bottom: 5px solid #4171b3a0;
  width: 50%;
  justify-content: center;
}

.titulo {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #1952e2;
  text-align: center;
  color: #153d7a;
  text-shadow: 0 0 15px #0d8dd2;
}

.parrafo{
  text-align: center;
}

label{
  margin-left: 15px;
}

.navbar, .collapse, .navbar-nav, .container-fluid{
  justify-content: center;
  background-color: #bfe3ff ;
  padding: 0;
}

.card1{
  background-color: #a7ddff;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 18px;
  margin: 18px;
  border-right: 5px solid #4171b3a0;
  border-bottom: 5px solid #4171b3a0;
  width: 80%;
  justify-content: center;

}